{% extends "layout.html" %}
{% block body %}
<p>
    There's two doors in this bakery. One says "do not enter" and angry zombie growls followed by human screams come from behind it. One says "food here" and it smells like cookies. Which do I choose?
</p>
<button class="btn btn-outline-dark d-block mb-2" type="button" id="zombie-door-btn">
    The zombie door leading to certain death
</button>
<button class="btn btn-outline-dark d-block mb-2" type="button" id="cookie-btn">
    The cookie door
</button>

{% endblock %}