{% extends "layout.html" %}
{% block body %}
<p>
    This old library still has most of its books. Turns out when you're in a rush to leave, literature isn't the top priority.
</p>
<p>
    "The Road" by Cormac McCarthy. Read that one for university.
</p>
<p>
    Knowledge is power, they say.
</p>
<p id="found-brick">
    But you know what else is power? The brick that I just found lying around here!
</p>
<p>
    Better take it and leave before my luck runs out.
</p>
<button class="btn btn-outline-dark d-block mb-2" type="button" id="choose-btn">
    Get back outside
</button>
{% endblock %}