{% extends "layout.html" %}
{% block body %}
<p>
    The family that's been living in the eastbound metro tunnel has been nice to me in the past, but even they know that that sort of thing will get you killed these days.
</p>
<p>
    Still, I'm glad I came by. They have some water and are offering to trade against some food.
</p>
<p>
    Should I take them up on the trade?
</p>
<button class="btn btn-outline-dark d-block mb-2" type="button" id="trade-btn">
    Trade food for water
</button>
<button class="btn btn-outline-dark d-block mb-2" type="button" id="no-trade-btn">
    Don't trade food for water
</button>

{% endblock %}