{% extends "layout.html" %}
{% block body %}
<p>
    Hi there, Archie! Didn't expect you so soon, what did you bring me? 
</p>
<p>
    Archie: <span class="direct-discourse">Urrr ur urrrr.</span>
</p>
<p>
    Alright, let me open the tube on your leg...
</p>
<div class="card text-bg-secondary mb-3">
    <div class="card-body">
        <p>
            Dear Sasha,
        </p>
        <p>
            We're sending Archie because you need to get out of there. There's a horde on its way to Millbrook, and it's gonna get there in about 3 days. We'll come pick you up on the morning of the 3rd day, and you have to come, no discussion.
        </p>
        <p>
            At dawn, look to the east.
        </p>
        <p>
            Frank is doing just fine, by the way. He's basically fully recovered from the fall and he can walk on his own again.
        </p>
        <p>
            If you're still alive, we'll see you soon.
        </p>
        <br>
        <p>
            With love,
        </p>
        <p>
            Friends
        </p>
    </div>
  </div>
  <p>
    Thank God. I wasn't gonna hold out here much longer anyways. The fuckers I've seen last week must've been the advance party.
  </p>
  <p>
    Thank you, Archie. Go fly to your nest, now.
  </p>
  <p>
    Archie: <span class="direct-discourse">Urrrr, urr.</span>
  </p>

  <button class="btn btn-dark" id="choose-btn">Time to gather the stuff from my hideout and get out into this snowstorm while there's still light.</button>
{% endblock %}