@import "../bootstrap/scss/bootstrap";
.snowy {
    background-image: url('../title_animation.gif');
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 100vh;
    padding:0;
    margin:0;
}
